article{
	background: greenyellow;
	border: 2px solid black;
	color:black;
	margin: 20px 5px;
	padding: 25px;
	text-align: center;
	-o-transition: all 5s linear;
	-webkit-transition: all 5s linear;
	-ms-transition: all 5s linear;
	-moz-transition: all 5s linear;
	transition: all 5s linear;
	width: 400px;
}

article p{
	font: 30px Tahoma;
	font-weight: bold;
	width: 100%;
}
/*
article:hover{
	height: 400px;
	width:800px;
}*/
/*
article:hover{
	background:black;
	color:greenyellow;
	transform: -o-translate(150px,300px);
	transform: -ms-translate(150px,300px);
	transform: -webkit-translate(150px,300px);
	transform: -moz-translate(150px,300px);
	transform: translate(150px,300px);
	transform: translate(150px,300px);
}
*/

/*
article:hover{
	background:black;
	color:greenyellow;
	transform: -o-rotate(360deg);
	transform: -ms-rotate(360deg);
	transform: -webkit-rotate(360deg);
	transform: -moz-rotate(360deg);
	transform: rotate(360deg);
	transform: rotate(360deg);
}
*/

/*
article:hover{
	background:black;
	color:greenyellow;
	transform: -o-scale(-10.5);
	transform: -ms-scale(-10.5);
	transform: -webkit-scale(-10.5);
	transform: -moz-scale(-10.5);
	transform: scale(-10.5);
	transform: scale(-10.5);
}*/



article:hover{
	background:black;
	color:greenyellow;
	transform: -o-skew(-110deg,10deg) translate(150px,150px) rotate(360deg) scale(-10.6);
	transform: -ms-skew(-110deg,10deg) translate(150px,150px) rotate(360deg) scale(-10.6);
	transform: -webkit-skew(-110deg,10deg) translate(150px,150px) rotate(360deg) scale(-10.6);
	transform: -moz-skew(-110deg,10deg) translate(150px,150px) rotate(360deg) scale(-10.6);
	transform: skew(-110deg,10deg) translate(150px,150px) rotate(360deg) scale(-10.6);
	transform: skew(-110deg,10deg) translate(150px,150px) rotate(360deg) scale(-10.6);
}